.node {
  display: inline-block;
  width: clamp(
    0.3125rem,
    5vw - 3.1%,
    1.5625rem
  ); /* // drawback => someone zooms in it messes up the grid */
  height: 100%;
  aspect-ratio: 1;
  outline: 1px solid rgb(160, 168, 187);
  padding: 0;
  margin: 0;
}

.node-visited {
  animation-name: visitedNodeAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedNodeAnimation {
  0% {
    transform: scale(0.328);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.1618);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: quickpath;
  animation-duration: 1.618s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes quickpath {
  0% {
    transform: scale(0.618);
    background-color: rgb(255, 254, 196);
  }

  50% {
    transform: scale(1.33);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.node-finish {
  background-color: hsl(51, 80%, 61.8%);
}

.node-start {
  background-color: hsl(222, 80%, 61.8%);
}
